{% extends 'base.html' %} {% block title %} Categories {% endblock title%} {% block body %}
<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <!-- component -->
    <!-- This is an example component -->
    <div>
      <section class="text-gray-200 bg-gray-900">
        <div class="max-w-6xl mx-auto px-5">
          <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
            <h1
              class="title-font mb-2 text-4xl font-extrabold leading-10 tracking-tight text-left sm:text-5xl sm:leading-none md:text-6xl"
            >
              Categories
            </h1>
            <p class="lg:w-1/2 w-full leading-relaxed text-base">
              An analysis of the categories of memes: topical, social, reactionary, nostalgic,
              utilitarian
            </p>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="xl:w-1/3 md:w-1/2 p-4">
              <div class="border border-gray-300 p-6 rounded-lg">
                <h2 class="text-lg font-medium title-font mb-2">Topical</h2>
                <p class="leading-relaxed text-base">
                  Fingerstache flexitarian street art 8-bit waist co, subway tile poke farm.
                </p>
              </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
              <div class="border border-gray-300 p-6 rounded-lg">
                <h2 class="text-lg font-medium title-font mb-2">Social</h2>
                <p class="leading-relaxed text-base">
                  Fingerstache flexitarian street art 8-bit waist co, subway tile poke farm.
                </p>
              </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
              <div class="border border-gray-300 p-6 rounded-lg">
                <h2 class="text-lg font-medium title-font mb-2">Reactionary</h2>
                <p class="leading-relaxed text-base">
                  Fingerstache flexitarian street art 8-bit waist co, subway tile poke farm.
                </p>
              </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
              <div class="border border-gray-300 p-6 rounded-lg">
                <h2 class="text-lg font-medium title-font mb-2">Nostalgic</h2>
                <p class="leading-relaxed text-base">
                  Fingerstache flexitarian street art 8-bit waist co, subway tile poke farm.
                </p>
              </div>
            </div>
            <div class="xl:w-1/3 md:w-1/2 p-4">
              <div class="border border-gray-300 p-6 rounded-lg">
                <h2 class="text-lg font-medium title-font mb-2">Utilitarian</h2>
                <p class="leading-relaxed text-base">
                  Fingerstache flexitarian street art 8-bit waist co, subway tile poke farm.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
{% endblock body%}
