{% extends 'base.html' %}{% block title %} Home {% endblock title%} {% block body %}
<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img
        alt="ecommerce"
        class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        src="https://source.unsplash.com/400x400/?nature,water"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <div class="flex flex-row w-10 h-10 relative mb-4">
          <div
            class="w-full h-full rounded-full overflow-hidden shadow-inner text-center bg-purple cursor-pointer"
          >
            <img
              src="https://pickaface.net/gallery/avatar/unr_random_180410_1905_z1exb.png"
              alt="lovely avatar"
              class="object-cover object-center w-full h-full visible"
            />
          </div>
        </div>
        <p class="leading-relaxed">
          Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha taximy chia
          microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw denim forage brooklyn.
          Everyday carry +1 seitan poutine tumeric. Gastropub blue bottle austin listicle pour-over,
          neutra jean shorts keytar banjo tattooed umami cardigan.
        </p>
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-800 mb-5"></div>
        <div class="flex">
          <!-- Button -->
          <button
            @click="showModal = !showModal"
            class="flex ml-auto text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded"
          >
            Comment
          </button>

          <button
            class="rounded-full w-10 h-10 bg-gray-800 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4"
          >
            <svg
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-5 h-5"
              viewBox="0 0 24 24"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body%}
